@media (max-width: 1200px) {
  .push_to_end {
    display: none;
  }
  .contained {
    margin-left: 10px;
  }
  .immediate_child {
    padding: 2.5rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .flex {
    grid-column: -1;
  }
  .four {
    margin-top: 2rem;
  }
  button {
    display: none;
  }

}
@media (max-width: 770px) {
  .the_sec_sect {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .immediate_child {
    display: block;
  }
  .contained {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .sec-header {
    margin: 0 auto;
    min-width: 2200px;
  }
  button {
    display: none;
  }
}
@media (max-width: 400px) {
  header {
    font-size: 1rem;
  }
  .unchange{
    font-size: 1rem;
  }
  .divider {
    font-size: 1rem;
  }
}